.grid{
  $grid-width : 100%;
  $unit-width: ($grid-width/12)*1;
  max-width: $grid-width;
  margin: 0 auto;
  background-color: lightgrey;
  outline: 2px solid blue;
  box-sizing: border-box;
  @extend .clearfix;
  .unit{
    float:left;
    width: $unit-width;
    background-color: darkgrey;
    outline: 1px solid black;
  }
  .unit-span-12{
    @extend .unit;
    width: ($grid-width/12)*12;
  }
  .unit-span-8{
    @extend .unit;
    width: ($grid-width/12)*8;
  }
  .unit-span-5{
    @extend .unit;
    width: ($grid-width/12)*5;
  }
  .unit-span-2{
    @extend .unit;
    width: ($grid-width/12)*2;
  }
  .unit-span-3{
    @extend .unit;
    width: ($grid-width/12)*3;
  }


}
